<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--
    <add key ="table1" value= "Suppliers"></add>
    <add key ="table2" value= "Medications"></add>
    <add key ="fk" value="sid"/>
    -->
    
    <add key ="table1" value= "Doctors"></add>
    <add key ="table2" value= "Managers"></add>
    <add key ="fk" value="did"/>
    
    <add key="server" value="DESKTOP-A70AQJO\SQLEXPRESS"/>
    <add key="database" value="Lab01-Pharmacy"/>
  </appSettings>
</configuration>