.lateral{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 7.5%;
}

.lateral-text{
	font-size: 10px;
	font-family: Roboto, Arial, sans-serif;
}

.header{
	position: fixed;
	top: 0;
	left: 3.5%;
	height: 6%;
	width: 100%;
}

form.example input[type=text] {
	position: absolute;
	left: 28.5%;
	top: 14px;
	font-size: 20;
  	border: 1px solid grey;
  	float: left;
  	width: 570px;
	height: 27px;
  	background: #f1f1f1;
}

form.example button {
	position: absolute;
	left: 58%;
	top: 14px;
	height: 31px;

  	width: 3.5%;
  	background: #gray;
  	color: black;
  	font-size: 17px;
  	border: 1px solid grey;
}

.main{
	position: absolute;
	left: 3.5%;
	top: 6%;
	background-color: #f7f5f5;
	width: 96.5%;
	height: 105%; 
}

.recomandate {
	position: absolute;
	left: 30px;
	top: 2%;
	font-size: 19px;
	font-family: Roboto, Arial, sans-serif;
}

.photo {
	height: 192px;
	width: 345px;
}

.icon {
	 border-radius: 50%;
	 width: 36px;
}

.description{
	font-size: 20px;
} 

.channel{
	font-size: 15px;
	font-family: Roboto, 	
Cambria, sans-serif;
}